"*":
  core:
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "38480071-260a-146b-1271-d82ceffab4e4"
  welcome:
    showOnStartup: false
