"*":
  "clang-format":
    executable: "/usr/bin/clang-format-3.7"
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 17
  "exception-reporting":
    userId: "e19955c9-8d5f-4ef5-8dd5-a2cf9390fbc2"
  welcome:
    showOnStartup: false
